django
python-dotenv
mysqlclient
djangorestframework
django-filter
markdown
requests
drf-yasg[validation]
channels
ujson
channels_redis
djangorestframework-simplejwt[crypto]
dj-rest-auth[with_social]
django-allauth
uvicorn[standard]
gunicorn
daphne
django-cors-headers
django-storages
boto3
Pillow