django
python-dotenv
mysqlclient
daphne
Twisted[tls,http2]
djangorestframework
django-filter
markdown
requests
drf-yasg[validation]
channels
ujson
channels_redis
djangorestframework-simplejwt[crypto]
dj-rest-auth[with_social]
django-allauth