django
python-dotenv
mysqlclient
djangorestframework
requests
drf-yasg[validation]
channels
channels_redis
djangorestframework-simplejwt[crypto]
dj-rest-auth[with_social]
django-allauth
daphne
django-cors-headers
django-storages
boto3
Pillow